.title {
    text-decoration: none;
    font-family: 'ClashDisplay-Variable';
    color: #02D084;
    font-weight: bold;
    font-size: 45px;
}

.contactTxt {
    font-family: 'ClashDisplay-Variable';
    font-weight: semibold;
    color: #DBE042;
}

@font-face {
    font-family: 'ClashDisplay-Variable';
    src: url('/fonts/ClashDisplay-Variable.ttf') format('truetype');
}

.vert_align {
    display: 'flex';
    flexDirection: 'column';
}
