.page {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}

.text {
  font-family: 'Montserrat-Regular'; 
  color:#FFF8E6 ;
}

.title {
  font-family: 'Montserrat-Regular'; 
  font-weight: bold; color:#ecb22c;;
}

.container {
  display: flex;
  widtH: 60%;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;

}

.videoContainer {
  display: flex;
  widtH: 60%;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.videoContainerWide {
  display: flex;
  widtH: 80%;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.canvasContainer {
    flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
